<mat-nav-list>
  <ng-container *ngFor="let item of menu">
    <a mat-list-item *ngIf="item.inverseMenSubmenu === null">
      <mat-icon mat-list-icon>{{ item.menIcono }}</mat-icon>
      <h4 mat-line *ngIf="this.fullSidenav$ | async">{{ item.menDescripcion }}</h4>
    </a>
    <a mat-list-item *ngIf="item.inverseMenSubmenu !== null" [matMenuTriggerFor]="menu.buildMenu">
      <mat-icon mat-list-icon>{{ item.menIcono }}</mat-icon>
      <h4 mat-line *ngIf="this.fullSidenav$ | async">{{ item.menDescripcion }}</h4>
    </a>
    <app-menu-recursive #menu [items]="item.inverseMenSubmenu"></app-menu-recursive>
  </ng-container>
</mat-nav-list>
