<app-navbar (sidenavToogle)="sidenav.toggle()"></app-navbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    (mouseenter)="onSinenavToggle()"
    (mouseleave)="onSinenavToggleOut()"
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card class="card-principal">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
