.example-container {
  width: 100%;
  height: 100%;
}

.custom-toolbar{
  max-height: 40px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card-principal{
  margin: 30px;
}
.space {
  margin-left: 10px;
}





