table {
  width: 100%;
  margin-top: 10px;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}



 .example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

